# Composer dependencies
/vendor/

# Environment file
.env
plan.md
# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
*.swp
*.swo
*.bak
*.tmp
*.log
.vscode/
.idea/

# PHPStorm specific
/.idea/

# PHPUnit
phpunit.xml
phpunit.xml.dist
